@import "tailwindcss";

@source inline("bg-[var(--ploy-button-primary-background)]");
@source inline("bg-[var(--ploy-background-secondary)]");
@source inline("text-[color:var(--ploy-background-secondary)]");
@source inline("text-[color:var(--ploy-text-primary)]");
@source inline("text-[length:144px]");
@source inline("max-[1024px]:text-[length:118px]");
@source inline("max-[540px]:text-[length:106px]");
@source inline("text-[length:96px]");
@source inline("max-[1024px]:text-[length:80px]");
@source inline("max-[540px]:text-[length:72px]");
@source inline("text-[length:64px]");
@source inline("max-[1024px]:text-[length:54px]");
@source inline("max-[540px]:text-[length:50px]");
@source inline("text-[length:48px]");
@source inline("max-[1024px]:text-[length:42px]");
@source inline("max-[540px]:text-[length:38px]");
@source inline("max-[540px]:text-[length:56px]");
@source inline("max-[540px]:text-[length:48px]");
@source inline("max-[540px]:text-[length:36px]");
@source inline("max-[540px]:text-[length:28px]");

@font-face {
  font-family: 'FK Screamer';
  src: url('/fonts/FKScreamer-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/geist-variable-latin-ext-1.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/geist-variable-latin-1.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --ploy-neutral-primary: #ffffff;
  --ploy-neutral-secondary: #f7f7f7;
  --ploy-neutral-inverse: #000000;
  --ploy-neutral-light: #ffffff;
  --ploy-neutral-dark: #000000;
  --ploy-accent-primary: #000000;
  --ploy-accent-secondary: #ffffff;
  --ploy-accent-tertiary: #000000;
  --ploy-text-primary: #212121;
  --ploy-text-secondary: #555555;
  --ploy-text-inverse: #ffffff;
  --ploy-text-inverse-secondary: rgba(255,255,255,0.6);
  --ploy-text-on-accent-primary: #ffffff;
  --ploy-text-on-accent-secondary: #ffffff;
  --ploy-text-on-accent-tertiary: #000000;
  --ploy-button-primary-background: #212121;
  --ploy-button-primary-text: #ffffff;
  --ploy-button-primary-border: #000000;
  --ploy-button-secondary-background: #ffffff;
  --ploy-button-secondary-text: #000000;
  --ploy-button-secondary-border: #b3b3b3;
  --ploy-background-primary: #f4f4f4;
  --ploy-background-secondary: #ffffff;
  --ploy-background-accent-primary: #000000;
  --ploy-background-accent-secondary: #ffffff;
  --ploy-background-accent-tertiary: #000000;
  --ploy-background-inverse: #000000;
  --ploy-border-primary: #e3e3e3;
  --ploy-border-inverse: rgba(0,0,0,0.2);
  --ploy-input-background: #ffffff;
  --ploy-input-border: #c4c4c4;
  --ploy-neutral-primary-50: #ffffff;
  --ploy-neutral-primary-100: #f5f5f5;
  --ploy-neutral-primary-200: #e5e5e5;
  --ploy-neutral-primary-300: #d4d4d4;
  --ploy-neutral-primary-400: #bfbfbf;
  --ploy-neutral-primary-500: #a3a3a3;
  --ploy-neutral-primary-600: #8a8a8a;
  --ploy-neutral-primary-700: #6e6e6e;
  --ploy-neutral-primary-800: #525252;
  --ploy-neutral-primary-900: #383838;
  --ploy-neutral-primary-950: #232323;
  --ploy-neutral-inverse-50: #fafafa;
  --ploy-neutral-inverse-100: #ededed;
  --ploy-neutral-inverse-200: #d9d9d9;
  --ploy-neutral-inverse-300: #bfbfbf;
  --ploy-neutral-inverse-400: #a3a3a3;
  --ploy-neutral-inverse-500: #838383;
  --ploy-neutral-inverse-600: #636363;
  --ploy-neutral-inverse-700: #444444;
  --ploy-neutral-inverse-800: #282828;
  --ploy-neutral-inverse-900: #121212;
  --ploy-neutral-inverse-950: #000000;
  --ploy-accent-primary-50: #fafafa;
  --ploy-accent-primary-100: #ededed;
  --ploy-accent-primary-200: #d9d9d9;
  --ploy-accent-primary-300: #bfbfbf;
  --ploy-accent-primary-400: #a3a3a3;
  --ploy-accent-primary-500: #838383;
  --ploy-accent-primary-600: #636363;
  --ploy-accent-primary-700: #444444;
  --ploy-accent-primary-800: #282828;
  --ploy-accent-primary-900: #121212;
  --ploy-accent-primary-950: #000000;
  --ploy-accent-secondary-50: #ffffff;
  --ploy-accent-secondary-100: #f5f5f5;
  --ploy-accent-secondary-200: #e5e5e5;
  --ploy-accent-secondary-300: #d4d4d4;
  --ploy-accent-secondary-400: #bfbfbf;
  --ploy-accent-secondary-500: #a3a3a3;
  --ploy-accent-secondary-600: #8a8a8a;
  --ploy-accent-secondary-700: #6e6e6e;
  --ploy-accent-secondary-800: #525252;
  --ploy-accent-secondary-900: #383838;
  --ploy-accent-secondary-950: #232323;
  --text: #000000;
  --ploy-brand-yellow: #FFFA64;
  --ploy-brand-yellow-warm: #F4EF4C;
  --ploy-brand-pink: #FFB8FC;
  --ploy-brand-blue: #C3DBFF;
  --ploy-brand-blue-light: #E7F1FF;
  --ploy-brand-green: #D1F48C;
  --ploy-brand-green-bright: #D1F864;
  --ploy-text-placeholder: rgba(33,33,33,0.5);
  --ploy-text-tertiary: rgba(33,33,33,0.6);
  --ploy-border-subtle: rgba(33,33,33,0.08);
  --ploy-background-hover: rgba(33,33,33,0.04);
  --ploy-text-faded: rgba(33,33,33,0.12);
  --ploy-surface-dark: #3C3C3C;
}

[theme="light"] {
  --ploy-neutral-primary: #ffffff;
  --ploy-neutral-secondary: #f7f7f7;
  --ploy-neutral-inverse: #000000;
  --ploy-neutral-light: #ffffff;
  --ploy-neutral-dark: #000000;
  --ploy-accent-primary: #000000;
  --ploy-accent-secondary: #ffffff;
  --ploy-accent-tertiary: #000000;
  --ploy-text-primary: #212121;
  --ploy-text-secondary: #555555;
  --ploy-text-inverse: #ffffff;
  --ploy-text-inverse-secondary: rgba(255,255,255,0.6);
  --ploy-text-on-accent-primary: #ffffff;
  --ploy-text-on-accent-secondary: #ffffff;
  --ploy-text-on-accent-tertiary: #000000;
  --ploy-button-primary-background: #212121;
  --ploy-button-primary-text: #ffffff;
  --ploy-button-primary-border: #000000;
  --ploy-button-secondary-background: #ffffff;
  --ploy-button-secondary-text: #000000;
  --ploy-button-secondary-border: #b3b3b3;
  --ploy-background-primary: #f4f4f4;
  --ploy-background-secondary: #ffffff;
  --ploy-background-accent-primary: #000000;
  --ploy-background-accent-secondary: #ffffff;
  --ploy-background-accent-tertiary: #000000;
  --ploy-background-inverse: #000000;
  --ploy-border-primary: #e3e3e3;
  --ploy-border-inverse: rgba(0,0,0,0.2);
  --ploy-input-background: #ffffff;
  --ploy-input-border: #c4c4c4;
  --ploy-neutral-primary-50: #ffffff;
  --ploy-neutral-primary-100: #f5f5f5;
  --ploy-neutral-primary-200: #e5e5e5;
  --ploy-neutral-primary-300: #d4d4d4;
  --ploy-neutral-primary-400: #bfbfbf;
  --ploy-neutral-primary-500: #a3a3a3;
  --ploy-neutral-primary-600: #8a8a8a;
  --ploy-neutral-primary-700: #6e6e6e;
  --ploy-neutral-primary-800: #525252;
  --ploy-neutral-primary-900: #383838;
  --ploy-neutral-primary-950: #232323;
  --ploy-neutral-inverse-50: #fafafa;
  --ploy-neutral-inverse-100: #ededed;
  --ploy-neutral-inverse-200: #d9d9d9;
  --ploy-neutral-inverse-300: #bfbfbf;
  --ploy-neutral-inverse-400: #a3a3a3;
  --ploy-neutral-inverse-500: #838383;
  --ploy-neutral-inverse-600: #636363;
  --ploy-neutral-inverse-700: #444444;
  --ploy-neutral-inverse-800: #282828;
  --ploy-neutral-inverse-900: #121212;
  --ploy-neutral-inverse-950: #000000;
  --ploy-accent-primary-50: #fafafa;
  --ploy-accent-primary-100: #ededed;
  --ploy-accent-primary-200: #d9d9d9;
  --ploy-accent-primary-300: #bfbfbf;
  --ploy-accent-primary-400: #a3a3a3;
  --ploy-accent-primary-500: #838383;
  --ploy-accent-primary-600: #636363;
  --ploy-accent-primary-700: #444444;
  --ploy-accent-primary-800: #282828;
  --ploy-accent-primary-900: #121212;
  --ploy-accent-primary-950: #000000;
  --ploy-accent-secondary-50: #ffffff;
  --ploy-accent-secondary-100: #f5f5f5;
  --ploy-accent-secondary-200: #e5e5e5;
  --ploy-accent-secondary-300: #d4d4d4;
  --ploy-accent-secondary-400: #bfbfbf;
  --ploy-accent-secondary-500: #a3a3a3;
  --ploy-accent-secondary-600: #8a8a8a;
  --ploy-accent-secondary-700: #6e6e6e;
  --ploy-accent-secondary-800: #525252;
  --ploy-accent-secondary-900: #383838;
  --ploy-accent-secondary-950: #232323;
  --text: #000000;
  --ploy-brand-yellow: #FFFA64;
  --ploy-brand-yellow-warm: #F4EF4C;
  --ploy-brand-pink: #FFB8FC;
  --ploy-brand-blue: #C3DBFF;
  --ploy-brand-blue-light: #E7F1FF;
  --ploy-brand-green: #D1F48C;
  --ploy-brand-green-bright: #D1F864;
  --ploy-text-placeholder: rgba(33,33,33,0.5);
  --ploy-text-tertiary: rgba(33,33,33,0.6);
  --ploy-border-subtle: rgba(33,33,33,0.08);
  --ploy-background-hover: rgba(33,33,33,0.04);
  --ploy-text-faded: rgba(33,33,33,0.12);
  --ploy-surface-dark: #3C3C3C;
}

[theme="dark"] {
  --ploy-neutral-primary: #000000;
  --ploy-neutral-secondary: #080808;
  --ploy-neutral-inverse: #ffffff;
  --ploy-neutral-light: #ededed;
  --ploy-neutral-dark: #000000;
  --ploy-accent-primary: #ffffff;
  --ploy-accent-secondary: #000000;
  --ploy-accent-tertiary: #ffffff;
  --ploy-text-primary: #f5f5f5;
  --ploy-text-secondary: #838383;
  --ploy-text-inverse: #000000;
  --ploy-text-inverse-secondary: rgba(0,0,0,0.6);
  --ploy-text-on-accent-primary: #000000;
  --ploy-text-on-accent-secondary: #000000;
  --ploy-text-on-accent-tertiary: #ededed;
  --ploy-button-primary-background: #ffffff;
  --ploy-button-primary-text: #000000;
  --ploy-button-primary-border: #ffffff;
  --ploy-button-secondary-background: #000000;
  --ploy-button-secondary-text: #ffffff;
  --ploy-button-secondary-border: #2b2b2b;
  --ploy-background-primary: #000000;
  --ploy-background-secondary: #080808;
  --ploy-background-accent-primary: #ffffff;
  --ploy-background-accent-secondary: #000000;
  --ploy-background-accent-tertiary: #ffffff;
  --ploy-background-inverse: #ffffff;
  --ploy-border-primary: #3d3d3d;
  --ploy-border-inverse: rgba(255,255,255,0.2);
  --ploy-input-background: #000000;
  --ploy-input-border: #3d3d3d;
  --ploy-neutral-primary-50: #fafafa;
  --ploy-neutral-primary-100: #ededed;
  --ploy-neutral-primary-200: #d9d9d9;
  --ploy-neutral-primary-300: #bfbfbf;
  --ploy-neutral-primary-400: #a3a3a3;
  --ploy-neutral-primary-500: #838383;
  --ploy-neutral-primary-600: #636363;
  --ploy-neutral-primary-700: #444444;
  --ploy-neutral-primary-800: #282828;
  --ploy-neutral-primary-900: #121212;
  --ploy-neutral-primary-950: #000000;
  --ploy-neutral-inverse-50: #ffffff;
  --ploy-neutral-inverse-100: #f5f5f5;
  --ploy-neutral-inverse-200: #e5e5e5;
  --ploy-neutral-inverse-300: #d4d4d4;
  --ploy-neutral-inverse-400: #bfbfbf;
  --ploy-neutral-inverse-500: #a3a3a3;
  --ploy-neutral-inverse-600: #8a8a8a;
  --ploy-neutral-inverse-700: #6e6e6e;
  --ploy-neutral-inverse-800: #525252;
  --ploy-neutral-inverse-900: #383838;
  --ploy-neutral-inverse-950: #232323;
  --ploy-accent-primary-50: #ffffff;
  --ploy-accent-primary-100: #f5f5f5;
  --ploy-accent-primary-200: #e5e5e5;
  --ploy-accent-primary-300: #d4d4d4;
  --ploy-accent-primary-400: #bfbfbf;
  --ploy-accent-primary-500: #a3a3a3;
  --ploy-accent-primary-600: #8a8a8a;
  --ploy-accent-primary-700: #6e6e6e;
  --ploy-accent-primary-800: #525252;
  --ploy-accent-primary-900: #383838;
  --ploy-accent-primary-950: #232323;
  --ploy-accent-secondary-50: #fafafa;
  --ploy-accent-secondary-100: #ededed;
  --ploy-accent-secondary-200: #d9d9d9;
  --ploy-accent-secondary-300: #bfbfbf;
  --ploy-accent-secondary-400: #a3a3a3;
  --ploy-accent-secondary-500: #838383;
  --ploy-accent-secondary-600: #636363;
  --ploy-accent-secondary-700: #444444;
  --ploy-accent-secondary-800: #282828;
  --ploy-accent-secondary-900: #121212;
  --ploy-accent-secondary-950: #000000;
  --text: #f5f5f5;
  --ploy-brand-yellow: #FFFA64;
  --ploy-brand-yellow-warm: #F4EF4C;
  --ploy-brand-pink: #FFB8FC;
  --ploy-brand-blue: #C3DBFF;
  --ploy-brand-blue-light: #E7F1FF;
  --ploy-brand-green: #D1F48C;
  --ploy-brand-green-bright: #D1F864;
  --ploy-text-placeholder: rgba(245,245,245,0.5);
  --ploy-text-tertiary: rgba(245,245,245,0.6);
  --ploy-border-subtle: rgba(245,245,245,0.08);
  --ploy-background-hover: rgba(245,245,245,0.04);
  --ploy-text-faded: rgba(245,245,245,0.12);
  --ploy-surface-dark: #3C3C3C;
}

:root {
  --c-mw: 1200px;
  --c-p: 24px;
  --font-heading: FK Screamer;
  --font-body: Geist;
  --font-mono: ui-monospace, monospace;
  --font-eyebrow: system-ui, sans-serif, -apple-system;
  --font-button: system-ui, sans-serif, -apple-system;
  --font-size-9xl: 8rem;
  --font-size-8xl: 6rem;
  --font-size-7xl: 4.5rem;
  --font-size-6xl: 3.75rem;
  --font-size-5xl: 3rem;
  --font-size-4xl: 2.25rem;
  --font-size-3xl: 1.875rem;
  --font-size-2xl: 1.5rem;
  --font-size-xl: 1.25rem;
  --font-size-lg: 1.125rem;
  --font-size-base: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-xs: 0.75rem;
  --font-heading-weight: 700;
  --font-heading-bold-weight: 800;
  --font-heading-letter-spacing: -0.02em;
  --font-heading-line-height: 1.2;
  --font-body-weight: 400;
  --font-body-bold-weight: 600;
  --font-body-letter-spacing: -0.02em;
  --font-body-line-height: 1.5;
  --font-button-weight: 500;
  --font-button-letter-spacing: normal;
  --font-button-line-height: 1;
  --radius: 0.625rem;
  --radius-button: 100rem;
  --radius-card: 0.75rem;
  --radius-input: 0.375rem;
  --border-width: 1px;
}
@media (max-width: 1024px) {
  :root {
    --c-p: 22px;
    --font-size-7xl: 5rem;
    --font-size-6xl: 4rem;
    --font-size-4xl: 2rem;
    --font-size-3xl: 2rem;
    --font-size-2xl: 2rem;
    --font-size-xl: 1rem;
    --font-size-lg: 1rem;
    --font-size-sm: 1rem;
    --font-size-xs: 1rem;
  }
}
@media (max-width: 540px) {
  :root {
    --c-p: 20px;
    --font-size-7xl: 5rem;
    --font-size-6xl: 4rem;
    --font-size-4xl: 2rem;
    --font-size-3xl: 2rem;
    --font-size-2xl: 2rem;
    --font-size-xl: 1rem;
    --font-size-lg: 1rem;
    --font-size-sm: 1rem;
    --font-size-xs: 1rem;
  }
}

@layer base {
  * { margin: 0; padding: 0; box-sizing: border-box; }
  body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif; }
  button { background: none; border: none; padding: 0; font: inherit; cursor: pointer; outline: inherit; }
  img { display: block; width: 100%; height: 100%; }
  picture { display: block; }
  .olink { text-decoration: none; display: block; }
  .oem { display: inline-block; }
}